/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Righteous);

/* TAGS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: verdana;
	font-size: 1rem;
/*	background-image: url("https://newevolutiondesigns.com/images/freebies/black-wallpaper-28.jpg");*/
	background-repeat: no-repeat;
	background-color: #000;
}

header {
	margin: 0 auto;
	max-width: 960px;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: rgba(255,255,255,0.8);
}

a {
	text-decoration: none;
}

/* ID's */

#headerMax {
	height: 100px;
	width: 100%;
	background-color: #000;
}

#branding {
	float: left;
	color: #fff;
	max-width: 200px;
	font-family: 'Righteous', cursive;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-left: 1rem;
}

#branding a {
	color: #fff;
}

#branding a:hover {
	color: grey;
}

#login {
	color: #fff;
	float: right;
}

/* CLASSES  */

/* map display single location */
.map {
	border: 10px solid #fff;
	border-radius: 10px;
	height: 300px; 
	width: 930px; 
	display: block; 
	position: relative; 
	overflow: hidden; 
	transform: translateZ(0px); 
	background-color: rgb(229, 227, 223);
}

.rating {
	font-weight: 700;
	color: orange;
}

.type {
	font-size: 1.2rem; 
}