/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Righteous);

/* TAGS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-size: 1rem;
	background-color: #FFF;
}

header {
	margin: 0 auto;
	max-width: 960px;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
}

a {
	text-decoration: none;
}

/* ID's */

#headerMax {
	height: 100px;
	width: 100%;
	background-color: #000;
}

#branding {
	float: left;
	color: #fff;
	max-width: 200px;
	font-family: 'Righteous', cursive;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-left: 1rem;
}

#branding a {
	color: #fff;
}

#branding a:hover {
	color: grey;
}



