/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Righteous);

/* TAGS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: verdana;
	font-size: 1rem;
/*	background-image: url("https://newevolutiondesigns.com/images/freebies/black-wallpaper-28.jpg");*/
	background-repeat: no-repeat;
	background-color: #000;
}

header {
    height: 100px;
    margin: 0 auto;
    max-width: 960px;
    border-bottom: 1px solid grey;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
/*	background-color: rgba(255,255,255,0.8);*/
}

object {
	border-radius: 10px;
	width: 400px;
	height: 400px;
	border: 10px solid #FFF;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

/* ID's */

#headerMax {
	height: 100px;
	width: 100%;
	background-color: #000;
}

#branding {
	float: left;
	color: #fff;
	max-width: 200px;
	font-family: 'Righteous', cursive;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-left: 1rem;
}

#branding a {
	color: #fff;
}

#branding a:hover {
	color: grey;
}

#login {
	margin-top: 10px;
	font-size: 0.9rem;
	font-weight: 700;
    clear: right;
    color: #4e4e4e;
    float: right;
    text-align: right;
}

#login li {
	display: inline-block;
}

/* CLASSES  */

/* map display single location */
.map {
	border: 10px solid #fff;
	border-radius: 10px;
	height: 300px; 
	width: 930px; 
	display: block; 
	position: relative; 
	overflow: hidden; 
	transform: translateZ(0px); 
	background-color: rgb(229, 227, 223);
}

.rating {
	border: 3px solid white;
    margin-right: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #000;
    font-weight: 700;
    line-height: 35px;
    color: orange;
}

.type {
	font-size: 1.2rem; 
}